*{ /* aqui estou resetando as configuracoes */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif'; /* relenbrando que aqui estou usando a fonte q importei do google */
}
.clear {/*aqui estou limpando as flutuacao*/
    clear: both;
}

html,body{
    height: 100%;
}
header{
    padding-top: 30px;
    
}
header > .container{
    max-width: 1400px;
    width: 100%;
    margin:0 auto;
   
}

.logo{
    position: relative;
    width: 300px;
    height: 40px;
    background-image: url(../imagens/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20px;
    margin-right: 0px;
}   /*aqui e toda a configuracao da logo*/

nav{
    float: right;
    margin-top: -18px;
    margin-right: 200px;
    margin-bottom: 20px;
}

nav > ul {
    list-style-type: none; /* aqui eu tirei a decoracao de bolinhas */
    
}
li:hover{/*aqui estou usando a opcao de efeito quando o mause passar por cima do objeto*/
 background-color:  #9a9898;
}
a:hover{
    color: white;
}

nav > ul > li{
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: #9a9898;
    font-weight: bold;
}
.mosaico .container{
    max-width: 98vw;
    margin: auto;
}
.mosaico-single{
    float: left;
    width: calc(100% / 6);
}
.img-mosaico{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}
section.servicos > .container01{
    margin: auto;
    max-width: 1050px;
    display: flex;
    align-items: center;
    position: relative;
    top: -27px;
    text-align: center;
}
/*estudar mais sobre o atributo nth para selecionar determinados elementos expecificos*/
.box-servico:nth-last-of-type(1){
    width: 40%;
    padding: 30px 0;
    background-color: #576975;
}
.box-servico:nth-last-of-type(2){
    width: 50%;
    padding: 60px 0;
    background-color: #688293;
}
.box-servico:nth-last-of-type(3){
    width: 40%;
    padding: 30px 0;
    background-color: #576975;
}

.box-servico > p{
    text-align: justify;
    color: white;
    padding: 20px;
}
.box-servico > h2{
    color: white;
}
.perfil-container > .container{
    padding-top: 30px;
    max-width: 1050px;
    margin: auto;
}
section .perfil-waper{
    padding-top: 50%;
    position: relative;
}
.perfil-waper2{
    position:absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.img-perfil{
    width: 50%;
    height: 100%;
    background-image: url(../imagens/img_perfil.png);
    background-size: 100% 100%;
}
.text{
    padding: 80px;
    width: 60%;
    text-align: justify;
}    

.text >h2{
    color: #698293;
    margin-bottom: 20px;
    
}
.text > p{
    font-weight: bolder;
}











@media screen and (max-width: 1070px ){
    nav{
        float: right;
        margin-top: -18px;
        margin-right: 100px;
        margin-bottom: 20px;
    }
  
}
@media screen and (max-width: 970px ){
    section.servicos > .container01{
       flex-direction: column;

}
nav{
    margin-right: 10px;
}

.box-servico:nth-last-of-type(1){
    width: 70%;
    padding: 30px 0;
    background-color: #576975;
}
.box-servico:nth-last-of-type(2){
    width: 80%;
    padding: 60px 0;
    background-color: #688293;
}
.box-servico:nth-last-of-type(3){
    width: 70%;
    padding: 30px 0;
    background-color: #576975;
}

.perfil-container .perfil-waper2{
    display: inline-block;
    margin: auto;
}

.img-perfil{
    margin: auto;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/img_perfil.png);
    background-size: 100% 100%;
}
.text{
    
    width: 100%;
    text-align: justify;
}


}


    










